{% extends 'base.html.twig' %}

{% block body %}

<table>
    <tr>
        <td style="padding: 10px 0;">
            <h1>{{ blog.title }}</h1>
            <p>{{ blog.author.name }}, {{ blog.author.email }}, {{ blog.createdAt.format('Y-m-d H:i:s') }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 10px 0;">
            <p>{{ blog.description }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 10px 0;">
            {% include 'content/comment/list.html.twig' with {'content': blog, 'comments': blog.children} %}
        </td>
    </tr>
</table>

{% endblock %}