{% extends 'base.html.twig' %}

{% block body %}

<h1>Create new blow</h1>
{{ form_start(form) }}
    <table>
        <tr>
            <td style="padding: 10px;">
                {{ form_label(form.title) }}<br>
                {{ form_widget(form.title, {'attr': {'style': 'width: 300px;'}}) }}
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                {{ form_label(form.author) }}<br>
                {{ form_widget(form.author, {'attr': {'style': 'width: 300px;'}}) }}
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                {{ form_label(form.description) }}<br>
                {{ form_widget(form.description, {'attr': {'style': 'width: 300px;', 'rows': '10'}}) }}
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                {{ form_widget(form.submit) }}
            </td>
        </tr>
    </table>
{{ form_end(form) }}

{% endblock %}