{% extends 'base.html.twig' %}

{% block body %}

<h1>Welcome to cool blogs</h1>
<table>
    {% for content in pagedList.data %}
        <tr>
            <td style="padding: 10px;">
                <p style="font-weight: bold;">
                    {# @TODO create a DTO that contains the link and send it here from the controller to remove logic from the view #}
                    <a href="{{ path(content.type ~ '_get', {'id': content.id}) }}">{{ content.title }}</a>
                </p>
                <p>{{ content.author.name }}, {{ content.author.email }}</p>
            </td>
            <td style="padding: 10px;">
                <p>{{ content.createdAt.format('Y-m-d H:i:s') }}</p>
                <p>{{ content.children.count }} comments</p>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}