{% extends 'base.html.twig' %}

{% block body %}

<h1>Welcome to lorem ipsum blogs</h1>
<a href="{{ path('blog_post') }}" style="padding: 10px 15px; color: white; background-color: blue;">Create new blog</a>
<table>
    {% for content in pagedList.data %}
        <tr>
            <td style="padding: 10px 0;">
                {# @TODO create a DTO that contains the link and send it here from the controller to remove logic from the view #}
                <h2><a href="{{ path(content.type ~ '_get', {'id': content.id}) }}">{{ content.title }}</a></h2>
                <p>{{ content.author.name }}, {{ content.author.email }}, {{ content.createdAt.format('Y-m-d H:i:s') }}, {{ content.children.count }} comments</p>
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td style="padding: 10px 0;">
                {% include 'common/paginator.html.twig' %}
            </td>
        </tr>
</table>

{% endblock %}